.products {
	padding: 12.5rem 5rem;

	&__h2 {
		padding: 5rem;
	}
}

@media only screen and (max-width: 600px) {
	.products {
		padding: 2rem 5rem;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
