@import "../../styles/variables";

.burger {
	width: 2rem;
	height: 2rem;
	display: none;
	visibility: hidden;
	justify-content: space-around;
	flex-flow: column nowrap;

	& > div {
		width: 2rem;
		height: 0.25rem;
		background-color: $color-black;
		border-radius: 10px;
	}
}

@media only screen and (max-width: 800px) {
	.burger {
		display: flex;
		visibility: visible;
	}
}
