@import "../../styles/variables";

.motto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 4rem;
	padding-bottom: 8rem;

	&__h2 {
		color: $color-first;
		padding: 2rem 0;
	}

	&__span {
		padding: 2rem 35%;
		color: $color-black;
	}
}

@media only screen and (max-width: 1200px) {
	.motto {
		&__span {
			padding: 2rem 30%;
		}
	}
}

@media only screen and (max-width: 900px) {
	.motto {
		&__span {
			padding: 2rem 20%;
		}
	}
}

@media only screen and (max-width: 600px) {
	.motto {
		&__span {
			padding: 2rem 10%;
		}
	}
}
