@import "./variables";

.btn {
    border: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 15px;

    &:hover, &:focus, &:active {
        outline: none;
        background-color: transparent;
    }

    &--account {
        border: 2px solid $color-second;
        transition: all .2s ease-in-out;

        &:hover, &:focus {
            background-color: $color-second;
            transition: all .2s ease-in-out;
        }
    }

    &--cart {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $color-first-light;
        box-shadow: 0 3px 12px rgba(0,0,0,.08);
    }

    &--shop {
        height: 4rem;
        min-width: 12rem;
        font-size: 1rem;
        background-color: $color-first;
        border-radius: 3rem;
        box-shadow: 0 3px 12px rgba(0,0,0,.08);

        transition: all .2s ease-in-out;

        &:hover, &:focus {
            background-color: $color-first-light;
            transition: all .2s ease-in-out;
        }
    }

    &--sign {
        border: 2px solid $color-third;
        transition: all .2s ease-in-out;

        &:hover, &:focus {
            background-color: $color-third;
            transition: all .2s ease-in-out;
        }
    }
}

.icon {
    fill: $color-black;
    height: 3rem;
    width: 3rem;

    &:hover, &:focus {
        outline: none;
    }

    &--cart {
        height: 2rem;
        width: 2rem;
    }
}

.link {
    color: $color-black;

    &:link, &:visited, &:active, &:focus, &:hover {
        outline: none;
        text-decoration: none;
    }
}

.list {
    list-style: none;
}

