$default-font-family: "Old Standard TT", Times New Roman, serif;
$default-font-size: 1.6rem;
$default-font-weight: 400;
$default-line-height: 2.4rem;

$default-font-size-smaller: 1.1rem;
$default-font-size-small: 1.3rem;
$default-font-size-normal: 1.6rem;
$default-font-size-large: 2.2rem;
$default-font-size-larger: 2.8rem;
$default-font-size-huge: 3.6rem;
