.basket-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4rem;
  margin: 4rem 0;
  border-bottom: 1px solid #1f1f1f;
}

.basket-item img {
  min-width: 10rem;
}

.basket-item__link {
  margin-right: 2rem;
}

.basket-item__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  width: 100%;
}

.basket-item__text__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket-item__text__controls__btn {
  font-size: 1.6rem;
  font-style: italic;
  position: relative;
  margin-left: 1rem;
}

.basket-item__text__controls__btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #00a4e8;
  visibility: hidden;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.basket-item__text__controls__btn:hover:before, .basket-item__text__controls__btn:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.basket-item__text__controls__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket-item__text__controls__quantity__content {
  font-size: 1.6rem;
}

.basket-item__text__controls__quantity__p {
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.basket-item__text__controls__quantity__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket-item__text__controls__quantity__btn:hover > svg,
.basket-item__text__controls__quantity__btn:focus > svg {
  fill: #c2d1ff;
}

.basket-item__text__controls__quantity__btn__icon {
  fill: #00a4e8;
  width: 1.6rem;
  height: 1.6rem;
}

.basket-item__text__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket-item__text__up__link {
  color: #1f1f1f;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.basket-item__text__up__link:link, .basket-item__text__up__link:visited, .basket-item__text__up__link:active {
  outline: none;
  text-decoration: none;
}

.basket-item__text__up__link__title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-right: 2rem;
  position: relative;
}

.basket-item__text__up__link__title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: #00a4e8;
  visibility: hidden;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.basket-item__text__up__link__title:hover:before, .basket-item__text__up__link__title:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.basket-item__text__up__price {
  font-size: 2.2rem;
  font-weight: 600;
}

.basket-item__text__up__price__currency {
  margin-right: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .basket-item {
    margin: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basket-item__img {
    max-width: 8rem;
  }
  .basket-item__link {
    margin-right: 0.6rem;
  }
  .basket-item__text__up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
  .basket-item__text__up__link {
    margin-bottom: 1rem;
  }
  .basket-item__text__up p {
    font-size: 1.6rem;
  }
  .basket-item__text__controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .basket-item__text__controls__btn {
    margin-top: 1rem;
  }
  .basket-item__text__controls p {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=ItemInBasket.css.map */