@import "../../styles/variables";
@import "../../styles/typography";

.about {
	padding: 8rem 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	background-color: $color-white;

	&__info {
		display: grid;
		grid-template-rows: 1fr 1fr;
		align-items: center;
		justify-items: center;

		&__p {
			padding: 0 4.4rem;
			font-size: $default-font-size-huge;
			line-height: 4.8rem;
		}

		&__link {
			margin-top: 8rem;

			&__btn {
				padding: 1rem 2rem;
				border-radius: 30px;
				border-bottom: 1px solid #00a4e8;
				transition: all 0.2s ease-in-out;

				&__span {
					color: $color-black;
				}
			}
		}
	}

	&__image {
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: 1200px) {
	.about {
		&__info {
			&__link {
				margin-top: 4rem;
			}

			&__p {
				font-size: $default-font-size-larger;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.about {
		padding: 6rem 1rem;

		&__info {
			&__p {
				padding: 0 0 0 2rem;
				font-size: $default-font-size-large;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.about {
		padding: 4rem 1rem;

		&__info {
			&__link {
				margin-top: 0rem;
			}

			&__p {
				padding: 0 0 0 2rem;
				font-size: $default-font-size-normal;
			}
		}
	}
}

@media only screen and (max-width: 650px) {
	.about {
		display: flex;
		flex-direction: column;
		padding: 2rem;

		&__info {
			display: grid;
			justify-content: center;
			align-content: center;

			&__link {
				margin-top: 0;
				display: grid;
				justify-content: center;
				align-content: center;
			}
		}

		& p {
			font-size: $default-font-size-large;
			padding: 0 1rem;
			line-height: 3.6rem;
		}
	}
}
