@import "../../styles/variables";
@import "../../styles/typography";

.shop {
	&__bg-image {
		background-image: url("https://i.imgur.com/FdDO8qR.jpg?3");
		background-color: $color-background;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 20rem;
		position: relative;

		&__h1 {
			position: absolute;
			left: 45%;
			top: 30%;
		}
	}

	&__wrapper {
		padding: 5rem 8rem;

		&__items {
			display: grid;
			grid-template-columns: repeat(4, auto);

			&__card-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-bottom: 8rem;

				&__btn {
					height: 3rem;
					max-width: 8em;
					font-size: $default-font-size-small;
					border: 2px solid $color-first-light;
					border-radius: 0.5rem;
					box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);

					transition: all 0.2s ease-in-out;

					&:hover,
					&:focus {
						background-color: $color-first-light;
					}
				}
			}
		}

		&__p {
			padding: 1rem 6rem;
			font-size: $default-font-size-normal;
		}
	}

	&__center-div {
		// width: 100%;

		&__link {
			text-align: center;
			display: block;
			margin: 0 auto 10rem auto;

			&:hover,
			&:focus {
				transform: none;
			}

			&__h3 {
				text-transform: uppercase;
			}
		}
	}
}
