@import "../../styles/typography";
@import "../../styles/variables";

.item {
	padding: 8rem 1.6rem 1.6rem 1.6rem;

	&__link-wrapper {
		margin-top: 4rem;
		text-align: center;
	}

	&__wrapper {
		margin: auto;
		min-width: 90%;

		&__container {
			&__text {
				text-align: center;

				&__content {
					margin: 2rem 0;

					&__price {
						margin-top: 2rem;
						font-weight: 600;
						font-size: $default-font-size-normal;
					}

					&__titles {
						max-width: 60rem;
						display: flex;
						flex-direction: column;
						align-items: center;

						&__h1 {
							margin-bottom: 1rem;
							color: $color-first;
						}

						&__h3 {
							color: $color-first-dark;
						}
					}
				}
			}
		}
	}
}

.cart__wrapper {
	&__column__basket__text__controls__quantity--item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		& > button {
			margin: 2rem 0;
		}
	}
}

@media only screen and (max-width: 360px) {
	.item {
		&__wrapper {
			&__container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
