@import "../../styles/variables";
@import "../../styles/typography";

.cart {
	background-color: $color-white;
	padding: 12rem 16rem;

	&__back-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $color-first;
	}

	&__empty-basket {
		margin-bottom: 2rem;
	}

	&__h1 {
		padding-bottom: 2rem;
		font-weight: 200;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10rem;

		&__column {
			&__h2 {
				margin-bottom: 2rem;
				font-weight: 200;
			}

			&__products {
				display: grid;
				grid-template-columns: auto auto;
			}
		}

		&__order {
			display: flex;
			flex-direction: column;
			position: fixed;
			right: 10rem;
			top: 7rem;

			&__h2 {
				padding: 1rem 0;
				font-size: $default-font-size-huge;
				font-weight: 200;
			}

			&__link {
				margin-top: 2rem;
				align-self: flex-end;
				transition: all 0.2s ease-in-out;

				&:link,
				&:visited,
				&:active {
					outline: none;
					text-decoration: none;
				}

				&:focus > button,
				&:hover > button {
					transition: all 0.2s ease-in-out;
					background-color: $color-first;
					color: $color-white;
				}

				&__btn {
					background-color: $color-first-light;
					transition: all 0.2s ease-in-out;
					padding: 0.5rem 1.1rem;
					border-radius: 25px;
				}
			}

			&__price-summary {
				margin: 1.6rem 0;
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid $color-black;

				&__item {
					font-size: 1.8rem;
				}

				&__item--total {
					font-size: $default-font-size-large;
				}

				&__item--p {
					flex-wrap: wrap;

					&__link {
						color: $color-first;
						cursor: pointer;
					}
				}

				&__p {
					font-size: $default-font-size-normal;
					font-style: italic;
				}
			}
		}
	}
}

.price-summary--last-child {
	border-bottom: none;
}

@media only screen and (max-width: 1550px) {
	.cart {
		padding: 6rem 6rem;

		&__wrapper {
			&__order {
				right: 4rem;
			}
		}
	}
}

@media only screen and (max-width: 1300px) {
	.cart {
		padding: 6rem 4rem;

		&__wrapper {
			grid-column-gap: 4rem;

			&__order {
				max-width: 28rem;
				right: 4rem;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.cart {
		padding: 2rem 6rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-row-gap: 4rem;

			&__column {
				order: 2;
			}

			&__order {
				display: flex;
				flex-direction: column;
				position: relative;
				margin: auto;
				order: 1;
				top: 0;
				right: 0;

				&__link {
					align-self: center;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.cart {
		padding: 2rem 1rem;
		align-items: center;

		&__wrapper {
			grid-template-columns: auto;
			justify-items: center;

			&__order {
				max-width: 16rem;
				margin: 0;

				&__h2 {
					font-size: $default-font-size-larger;
				}
			}
		}
	}
}
