.cart {
  background-color: #fafafa;
  padding: 12rem 16rem;
}

.cart__back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00a4e8;
}

.cart__empty-basket {
  margin-bottom: 2rem;
}

.cart__h1 {
  padding-bottom: 2rem;
  font-weight: 200;
}

.cart__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10rem;
}

.cart__wrapper__column__h2 {
  margin-bottom: 2rem;
  font-weight: 200;
}

.cart__wrapper__column__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4rem;
  margin: 4rem 0;
  border-bottom: 1px solid #1f1f1f;
}

.cart__wrapper__column__basket img {
  min-width: 10rem;
}

.cart__wrapper__column__basket__link {
  margin-right: 2rem;
}

.cart__wrapper__column__basket__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  width: 100%;
}

.cart__wrapper__column__basket__text__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__wrapper__column__basket__text__controls__btn {
  font-size: 1.6rem;
  font-style: italic;
  position: relative;
  margin-left: 1rem;
}

.cart__wrapper__column__basket__text__controls__btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #00a4e8;
  visibility: hidden;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.cart__wrapper__column__basket__text__controls__btn:hover:before, .cart__wrapper__column__basket__text__controls__btn:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.cart__wrapper__column__basket__text__controls__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__wrapper__column__basket__text__controls__quantity__content {
  font-size: 1.6rem;
}

.cart__wrapper__column__basket__text__controls__quantity__p {
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.cart__wrapper__column__basket__text__controls__quantity__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__wrapper__column__basket__text__controls__quantity__btn:hover > svg,
.cart__wrapper__column__basket__text__controls__quantity__btn:focus > svg {
  fill: #c2d1ff;
}

.cart__wrapper__column__basket__text__controls__quantity__btn__icon {
  fill: #00a4e8;
  width: 1.6rem;
  height: 1.6rem;
}

.cart__wrapper__column__basket__text__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__wrapper__column__basket__text__up__link {
  color: #1f1f1f;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cart__wrapper__column__basket__text__up__link:link, .cart__wrapper__column__basket__text__up__link:visited, .cart__wrapper__column__basket__text__up__link:active {
  outline: none;
  text-decoration: none;
}

.cart__wrapper__column__basket__text__up__link__title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-right: 2rem;
  position: relative;
}

.cart__wrapper__column__basket__text__up__link__title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: #00a4e8;
  visibility: hidden;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.cart__wrapper__column__basket__text__up__link__title:hover:before, .cart__wrapper__column__basket__text__up__link__title:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.cart__wrapper__column__basket__text__up__price {
  font-size: 2.2rem;
  font-weight: 600;
}

.cart__wrapper__column__basket__text__up__price__currency {
  margin-right: 0.4rem;
}

.cart__wrapper__column__products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.cart__wrapper__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 10rem;
  top: 7rem;
}

.cart__wrapper__order__h2 {
  padding: 1rem 0;
  font-size: 3.6rem;
  font-weight: 200;
}

.cart__wrapper__order__link {
  margin-top: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cart__wrapper__order__link:link, .cart__wrapper__order__link:visited, .cart__wrapper__order__link:active {
  outline: none;
  text-decoration: none;
}

.cart__wrapper__order__link:focus > button,
.cart__wrapper__order__link:hover > button {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #00a4e8;
  color: #fafafa;
}

.cart__wrapper__order__link__btn {
  background-color: #c2d1ff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1.1rem;
  border-radius: 25px;
}

.cart__wrapper__order__price-summary {
  margin: 1.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #1f1f1f;
}

.cart__wrapper__order__price-summary__item {
  font-size: 1.8rem;
}

.cart__wrapper__order__price-summary__item--total {
  font-size: 2.2rem;
}

.cart__wrapper__order__price-summary__item--p {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__wrapper__order__price-summary__item--p__link {
  color: #00a4e8;
}

.cart__wrapper__order__price-summary__p {
  font-size: 1.6rem;
  font-style: italic;
}

.price-summary--last-child {
  border-bottom: none;
}

@media only screen and (max-width: 1550px) {
  .cart {
    padding: 6rem 6rem;
  }
  .cart__wrapper__order {
    right: 4rem;
  }
}

@media only screen and (max-width: 1300px) {
  .cart {
    padding: 6rem 4rem;
  }
  .cart__wrapper {
    grid-column-gap: 4rem;
  }
  .cart__wrapper__order {
    max-width: 28rem;
    right: 4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .cart {
    padding: 2rem 6rem;
  }
  .cart__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
    grid-row-gap: 4rem;
  }
  .cart__wrapper__column {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .cart__wrapper__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    position: relative;
    margin: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    top: 0;
    right: 0;
  }
  .cart__wrapper__order__link {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 768px) {
  .cart__wrapper__column__basket__text__up p {
    font-size: 1.6rem;
  }
  .cart__wrapper__column__basket__text__controls p {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=Account.css.map */