@import "../../styles/variables";

.item__wrapper__container__center {
	&__gallery {
		display: grid;
		grid-template-columns: repeat(24, 1fr);

		&__small {
			display: flex;
			flex-direction: column;
			grid-column: 5/7;

			& > img {
				max-width: 10rem;
				background-color: $color-black;
				opacity: 0.6;
				transition: opacity 0.4s ease;
				cursor: pointer;
			}
		}

		&__big {
			grid-column: 8/23;

			&__img {
				object-fit: contain;
				max-height: 50rem;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.item__wrapper__container__center {
		&__gallery {
			&__small {
				grid-column: 4/6;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.item__wrapper__container__center {
		&__gallery {
			display: flex;
			flex-direction: column;
			align-items: center;

			&__small {
				flex-direction: row;
				align-items: center;
				background-color: $color-black;

				& > img {
					max-width: 6rem;
				}
			}
		}
	}
}
