@import "../../styles/variables";

.item__wrapper__container__gallery {
	display: grid;
	grid-template-columns: 17% 80%;
	grid-gap: 3%;

	&__small {
		display: grid;
		grid-template-rows: repeat(3, 7rem);

		& > * {
			display: flex;
		}

		& img {
			object-fit: contain;
		}
	}

	&__big {
		position: relative;
		min-height: 31rem;

		& > div:first-child {
			position: absolute;
			top: 0;
			left: 0;
			height: auto;
		}

		&__one {
			position: absolute;
			top: 0;
			left: 0;
			height: auto;

			&--hidden {
				visibility: hidden;
				opacity: 0;
				transition: visibility 0.3s, opacity 0.3s linear;
			}
		}

		&__two,
		&__three {
			position: absolute;
			top: 0;
			left: 0;
			height: auto;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0.3s, opacity 0.3s linear;
		}

		& img {
			object-fit: contain;
			max-height: 31rem;
		}

		&__two--selected,
		&__three--selected {
			visibility: visible !important;
			opacity: 1 !important;
			transition: visibility 0s, opacity 0.3s linear !important;
		}
	}
}

@media only screen and (max-width: 360px) {
	.item__wrapper__container__gallery {
		display: flex;
		flex-direction: column;

		&__small {
			display: flex;
			margin-bottom: 0.5rem;
		}

		&__big {
			position: relative;
			min-height: 21rem;
		}
	}
}
