@import "../../styles/variables";
@import "../../styles/typography";

.intro {
	position: relative;

	&__slider-container {
		z-index: -5;

		&__image {
			height: 60rem;
			width: 100%;
			object-fit: cover;
		}
	}

	&__title {
		position: absolute;
		top: 22rem;
		left: 7%;
		background-color: rgba(255, 255, 255, 0.6);
		padding: 3rem 5rem;
		z-index: 1;

		&__white-bg {
			background-color: rgba(255, 255, 255, 0.9);

			display: grid;
			grid-template-columns: repeat(12, 5rem);
			grid-template-rows: repeat(8, 5.2rem);

			&__main-title {
				grid-column: 2/10;
				grid-row: 2/4;
			}

			&__subtitle {
				grid-column: 10/13;
				grid-row: 2;
			}

			&__description {
				grid-column: 7/12;
				grid-row: 6;

				&__span {
					color: $color-black;
				}
			}

			&__shop {
				grid-column: 6/8;
				grid-row: 8;
			}
		}
	}
}

@media only screen and (max-width: 1050px) {
	.intro {
		&__title {
			left: 3%;
			padding: 1rem 2rem;

			& p {
				font-size: $default-font-size-smaller;
			}

			& h1 {
				font-size: $default-font-size-larger;
			}

			& span {
				font-size: $default-font-size-small;
			}

			&__white-bg {
				background-color: rgba(255, 255, 255, 0.9);

				display: grid;
				grid-template-columns: repeat(12, 4.2rem);
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.intro {
		&__title {
			&__white-bg {
				grid-template-columns: repeat(9, 4.2rem);
				grid-template-rows: repeat(8, 4.6rem);

				&__main-title {
					grid-column: 2/9;
					grid-row: 2/4;
				}

				&__subtitle {
					grid-column: 5/8;
					grid-row: 5;
				}

				&__description {
					grid-column: 2/7;
					grid-row: 6;
				}

				&__shop {
					grid-column: 3/5;
					grid-row: 8;
				}
			}

			& p {
				font-size: $default-font-size-smaller;
			}

			& h1 {
				font-size: $default-font-size-large;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.intro {
		&__title {
			&__white-bg {
				grid-template-columns: repeat(17, 1.9rem);
				grid-template-rows: repeat(14, 2.1rem);

				&__main-title {
					grid-column: 2/17;
					grid-row: 1/7;
				}

				&__subtitle {
					grid-column: 10/16;
					grid-row: 7;
				}

				&__description {
					grid-column: 5/16;
					grid-row: 9;
				}

				&__shop {
					grid-column: 7/14;
					grid-row: 12;
				}
			}

			& h1 {
				line-height: 4rem;
			}
		}
	}
}
