.intro {
  position: relative;
}

.intro__slider-container {
  z-index: -5;
}

.intro__slider-container__image {
  height: 60rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__title {
  position: absolute;
  top: 22rem;
  left: 7%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3rem 5rem;
  z-index: 1;
}

.intro__title__white-bg {
  background-color: rgba(255, 255, 255, 0.9);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5rem)[12];
      grid-template-columns: repeat(12, 5rem);
  -ms-grid-rows: (5.2rem)[8];
      grid-template-rows: repeat(8, 5.2rem);
}

.intro__title__white-bg__main-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.intro__title__white-bg__subtitle {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 2;
  grid-row: 2;
}

.intro__title__white-bg__description {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  -ms-grid-row: 6;
  grid-row: 6;
}

.intro__title__white-bg__description__span {
  color: #1f1f1f;
}

.intro__title__white-bg__shop {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 8;
  grid-row: 8;
}

@media only screen and (max-width: 1050px) {
  .intro__title {
    left: 3%;
    padding: 1rem 2rem;
  }
  .intro__title p {
    font-size: 1.1rem;
  }
  .intro__title h1 {
    font-size: 2.8rem;
  }
  .intro__title span {
    font-size: 1.3rem;
  }
  .intro__title__white-bg {
    background-color: rgba(255, 255, 255, 0.9);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (4.2rem)[12];
        grid-template-columns: repeat(12, 4.2rem);
  }
}

@media only screen and (max-width: 768px) {
  .intro__title__white-bg {
    -ms-grid-columns: (4.2rem)[9];
        grid-template-columns: repeat(9, 4.2rem);
    -ms-grid-rows: (4.6rem)[8];
        grid-template-rows: repeat(8, 4.6rem);
  }
  .intro__title__white-bg__main-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .intro__title__white-bg__subtitle {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5/8;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .intro__title__white-bg__description {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .intro__title__white-bg__shop {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 8;
    grid-row: 8;
  }
  .intro__title p {
    font-size: 1.1rem;
  }
  .intro__title h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .intro__slider-container__image {
    height: 46rem;
  }
  .intro__title {
    top: 12rem;
  }
  .intro__title__white-bg {
    -ms-grid-columns: (1.9rem)[12];
        grid-template-columns: repeat(12, 1.9rem);
    -ms-grid-rows: (2.1rem)[14];
        grid-template-rows: repeat(14, 2.1rem);
  }
  .intro__title__white-bg__main-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .intro__title__white-bg__subtitle {
    -ms-grid-column: 6;
    -ms-grid-column-span: 5;
    grid-column: 6/11;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .intro__title__white-bg__description {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
    -ms-grid-row: 8;
    grid-row: 8;
  }
  .intro__title__white-bg__shop {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4/11;
    -ms-grid-row: 12;
    grid-row: 12;
  }
  .intro__title h1 {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  .intro__title p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 360px) {
  .intro__title {
    top: 12rem;
  }
  .intro__title__white-bg {
    -ms-grid-columns: (1.9rem)[9];
        grid-template-columns: repeat(9, 1.9rem);
    -ms-grid-rows: (2.1rem)[16];
        grid-template-rows: repeat(16, 2.1rem);
  }
  .intro__title__white-bg__main-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;
  }
  .intro__title__white-bg__subtitle {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4/9;
    -ms-grid-row: 8;
    grid-row: 8;
  }
  .intro__title__white-bg__description {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 10;
    grid-row: 10;
  }
  .intro__title__white-bg__shop {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 14;
    grid-row: 14;
  }
  .intro__title h1 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .intro__title p {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=Intro.css.map */