@import "../../styles/variables";

.intro {
    position: relative;

    &__slider-container {
        z-index: -5;

        &__image {
            height: 60rem;
            width: 100%;
            object-fit: cover;
        }
            
    }

    &__title {
        position: absolute;
        top: 70%;
        left: 30%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: rgba(255,255,255,.6);
        padding: 3rem 5rem;
        z-index: 1;

        &__white-bg {
            background-color: rgba(255,255,255,.9);

            display: grid;
            grid-template-columns: repeat(12, 5rem);
            grid-template-rows: repeat(8, 5rem);

            &__main-title {
                grid-column: 2/10;
                grid-row: 2/4;
            }
    
            &__subtitle {
                grid-column: 10/13;
                grid-row: 2;
            }
    
            &__description {
                grid-column: 7/13;
                grid-row: 6;
            }
    
            &__shop {
                grid-column: 6/8;
                grid-row: 8;
            }
        }
    } 
}