@import "../../styles/variables";
@import "../../styles/typography";

.footer {
	background-color: $color-background;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 8rem;
	padding: 8rem 20rem;

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__link {
			&__span {
				color: $color-black;
				font-size: $default-font-size-small;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.footer {
		padding: 3rem 2rem;
		display: flex;
		flex-direction: column;

		&__column {
			padding-bottom: 2rem;
		}
	}
}
