@import "../src/styles/variables";
@import "../src/styles/typography";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 80%;
	scroll-behavior: smooth;
}

body {
	font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
	line-height: $default-line-height;
	background-color: $color-background;
}

*::selection {
	background: $color-first-dark;
  }