@import "../src/styles/variables";
@import "../src/styles/typography";
@import "../src/styles/components";
@import "../src/styles/animations";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 80%;
	scroll-behavior: smooth;
}

body,
input,
textarea,
button {
	font-family: $default-font-family;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	line-height: $default-line-height;
	background-color: $color-background;
}

img {
	display: block;
	width: 100%;
}

*::selection {
	background: $color-first-light;
}
