@import "../../styles/variables";
@import "../../styles/typography";

.payment {
	background-color: $color-white;
	padding: 5rem;

	& > h2 {
		text-align: center;
		padding: 1rem;
	}

	&__back-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $color-first;
		margin-top: 5rem;
	}

	&__container {
		display: flex;
		padding: 1.6rem;
		margin: 0 1.2rem;
		border-bottom: 1px solid $color-black;

		&__top {
			flex: 20%;
		}

		&__bottom {
			flex: 80%;
			padding-left: 5rem;

			&__name {
				margin-bottom: 1rem;

				&__input {
					// background-color: $color-first-light;
					border: 2px solid $color-first-light;
					border-radius: 4px;
					padding-left: 0.5rem;
					font-size: $default-font-size-small;

					&:hover,
					&:focus {
						border: 2px solid $color-first-dark;
					}
				}
			}

			&__price-container > p {
				margin: 1rem 0;
				font-weight: 600;
			}

			&__price-container > button {
				background: $color-first;
				border-radius: 4px;
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.payment {
		&__container {
			flex-direction: column;
			align-items: center;

			&__top {
				flex: 1;
				margin: 1rem 0;
			}

			&__bottom {
				margin: 2rem;
				flex: 1;
				padding-left: 0rem;
			}
		}
	}
}
